* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body,
html {
  height: 100%;
  font-family: Roboto, sans-serif;
}
.container-register {
  background-image: url(../assets/75024.jpg);
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
}
.wrap-input {
  display: block;
  border: 1px solid #e6e6e6;
  margin-bottom: 10px;
  border-style:none;
  background-color: #F2F2F2;
  border-radius: 4px;
  /* font-size: 15px; */
}
.inp{
  border-top: none
}

